[submodule "submodules/vundle"]
	path = submodules/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/pseudomuto/oh-my-zsh.git
[submodule "submodules/git-freeze"]
	path = submodules/git-freeze
	url = https://github.com/pseudomuto/git-freeze.git
