[core]
  editor = vim
  excludesfile = ~/.gitignore
  commitGraph = true
[user]
  name  = David Muto (pseudomuto)
  email = david.muto@gmail.com
  signingkey = 6EA84352485608D0
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  pr-get = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[pager]
  branch = false
[push]
  default = simple
[pull]
  rebase = true
[color]
  ui = true
[merge]
  conflictstyle = diff3
[commit]
  gpgsign = true
[diff]
  algorithm = patience
[gc]
  writeCommitGraph = true
[credential]
  helper = store --file ~/.config/git-credentials
